# word2vec model
**/word2vec_model.bin
**/trans_en_fr.pt

# cache files
.pickle

# py compile file
.pyc
**/__pycache__/**

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

:wq.idea
