# word2vec model
code/word2vec_model.bin

# py compile file
.pyc
**/__pycache__/**

# dependencies
front/node_modules

# testing
front/coverage

# production
front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

.idea
